# Copied from .gitignore
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/
pkg
rdoc
spec/reports
test/
tmp

# app/ holds coffeescript files.  npm only cares about the compiled js.
app/
Gemfile
hippodrome.gemspec
hippodrome.sublime-*
