# Copied from .gitignore
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/
pkg
rdoc
spec/reports
test/
tmp

# src/ holds coffeescript files.  npm only cares about the compiled js.
src/
app/
Gemfile
hippodrome.gemspec
hippodrome.sublime-*
Rakefile
Gulpfile.js
